
@{
    ViewBag.Title = "GetBook";
}

<h2>GetBook</h2>
<form method="post" action="PostBook">
    <p>Введите название адреса</p>
    <input type="text" name="address"  />
    <p>Введите номер телефона</p>
    <input type="text" name="number"  />
    <input type="submit" value="Отправить"/>
</form>

